<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDg-ThlqQBsqyK2R9VORYcimH7OTL0DfIA</string>
	<key>GCM_SENDER_ID</key>
	<string>146527793374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roleMaister.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>role-maister</string>
	<key>STORAGE_BUCKET</key>
	<string>role-maister.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146527793374:ios:afa411871c8d762932d24f</string>
</dict>
</plist>